adal==1.2.4
allennlp==1.1.0
anaconda-project==0.8.3
argh==0.26.2
asn1crypto==1.4.0
astropy==4.0.2
autopep8==1.5.4
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
bcolz==1.2.1
bitarray==1.5.3
bkcharts==0.2
blinker==1.4
bokeh==2.2.1
boto==2.49.0
brotlipy==0.7.0
catboost==0.24.3
conda==4.8.5
conda-package-handling==1.6.1
contextlib2==0.6.0.post1
cookiecutter==1.7.2
Cython==0.29.21
cython-test==0.0.0
cytoolz==0.11.0
distributed==2.30.0
docker==4.3.1
docker-pycreds==0.4.0
fastai==1.0.61
fastcache==1.1.0
flake8==3.8.4
Flask==1.1.2
gcsfs==0.7.1
gevent==20.9.0
glob2==0.7
gmpy2==2.1.0b1
google-api-python-client==1.12.3
google-cloud-bigquery==1.26.1
google-cloud-bigquery-storage==1.0.0
google-cloud-bigtable==1.4.0
google-cloud-dataproc==1.1.1
google-cloud-datastore==1.12.0
google-cloud-firestore==1.8.1
google-cloud-kms==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.15.1
google-cloud-monitoring==1.1.0
google-cloud-pubsub==1.7.0
google-cloud-scheduler==1.3.0
google-cloud-spanner==1.17.1
google-cloud-speech==1.3.2
google-cloud-storage==1.30.0
google-cloud-tasks==1.5.0
google-cloud-translate==2.0.2
google-cloud-videointelligence==1.15.0
google-cloud-vision==1.0.0
grpcio-gcp==0.2.2
html5lib==1.1
imagecodecs==2020.5.30
ImageHash==4.1.0
ipython-sql==0.3.9
jupyter-aihub-deploy-extension==0.2
jupyter-console==6.2.0
jupyter-http-over-ws==0.0.8
jupyterlab==1.2.16
jupyterlab-git==0.11.0
kubernetes==11.0.0
libarchive-c==2.9
lxml==4.5.2
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.5.0
multipledispatch==0.6.0
nb-conda==2.2.1
nb-conda-kernels==2.3.0
nbpresent==3.0.2
nose==1.3.7
notebook-executor==0.2
olefile==0.46
open-competition==0.1
openpyxl==3.0.5
pandas-profiling==2.9.0
partd==1.1.0
path==15.0.0
pathlib2==2.3.5
pep8==1.7.1
pipdeptree==1.0.0
pipreqs==0.4.10
pkginfo==1.5.0.1
ply==3.11
pyarrow==1.0.1
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==5.1.1
pydot==1.4.1
pyodbc==4.0.30
pyOpenSSL==19.1.0
PyQt5-sip==4.19.18
PyQtChart==5.12
PySocks==1.7.1
rope==0.18.0
Rtree==0.9.4
ruamel-yaml-conda==0.15.80
scikit-image==0.17.2
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==3.4.0.3
sip==4.19.24
sortedcollections==1.2.1
sphinxcontrib-websupport==1.2.4
spyder==4.1.5
statsmodels==0.12.0
sympy==1.6.2
tables==3.6.1
tensorflow==2.3.1
unicodecsv==0.14.1
Unidecode==1.1.1
whichcraft==0.6.1
xlrd==1.2.0
XlsxWriter==1.3.6
xlwt==1.3.0
yapf==0.30.0
